/* utilities and resets */
:root {
    --space-cadet: #1B1B3A;
    --brilliant-rose: #F84AA7;
    --white: #fff;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--space-cadet);
}

/* page elements */
.title {
    text-align: center;
    color: var(--white);
}

.rules {
    color: var(--white);
}

.rules > p {
    font-size: 20px;
    font-weight: bold;
}

.rules > ul {
    padding: 0;
    list-style: none;
}

.rules > ul li {
    margin-bottom: 8px;
}

.player-options > p {
    text-align: center;
    font-size: 20px;
    color: var(--white);
}

.game-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.btn {
    flex: auto;
    width: 120px;
    height: 34px;
    padding: 0 8px;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    background: var(--brilliant-rose);
    border: none;
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
}

.results {
    width: 220px;
    text-align: center;
}

.results > p {
    font-size: 18px;
    color: var(--white);
}
